.sort {
    display: flex;


    .sortWrapper {
        margin: 1em;
        display: flex;
        flex-direction: column;

        label {
            font-size: 20px;
            font-weight: 500;
        }

        select {
            margin-top: 5px;
            padding: 10px;
            border-radius: 5px;


        }
    }
}